<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet">
<div class="best-plan">
    <div class="container">
					<div class="best-plan__head">
						<div class="row">
							<div class="col-md-12">
								<h3 class="best-plan__title">Details du client</h3>								
							</div>
						</div>
					</div>
					<div class="b_plan_body">					
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<table class="table table-dark table-hover">
                                    <td class="text-primary bg-light" colspan="2"><h3>Infos Client</h3></td>
                                   <tr><th>IdClient</th><td>{{client.idClient}}</td></tr>
                                   <tr><th> Nom</th><td>{{client.nom}}</td></tr>
                                    <tr> <th>Prenom</th><td>{{client.prenom}}</td></tr>
                                        <tr><th>Telephone</th><td>{{client.telephone}}</td></tr>
                                        <tr><th>Sexe</th><td>{{client.sexe}}</td></tr>
                                        <tr> <th> Profession</th><td>{{client.profession}}</td></tr>
                                         <tr> <th>Type</th> <td>{{client.type}}</td></tr>
                                        <tr> <th>Pays d'adresse</th><td>{{client.pays_d_adresse}}</td></tr>
                                        <tr> <th>Adresse Legale</th><td>{{client.adresselegale}}</td></tr>
                                        <tr> <th> Email</th> <td>{{client.email}}</td></tr>
                                        <tr><th>Ville</th><td>{{client.ville}}</td></tr>
                                   </table>
							</div>
							<div class="col-md-4 col-sm-4">
								<table class="table table-dark table-hover" *ngIf="client.piece_identite">
                                    <td class="text-primary bg-light" colspan="2"><h3>Infos Piece</h3></td>
                                    <tr><th>IdPiece</th><td>{{client.piece_identite.id}}</td></tr>
                                    <tr><th> Type</th><td>{{client.piece_identite.type_piece_identite}}</td></tr>
                                        <tr>    <th>numero Piece</th><td>{{client.piece_identite.numero}}</td></tr>
                                            <tr>     <th>Date de naissance</th><td>{{client.piece_identite.date_de_naissance | date:'d MMMM y'}}</td></tr>
                                                <tr>     <th>Pays</th><td>{{client.piece_identite.pays}}</td></tr>
                                                    <tr>    <th> Date d'expiration</th><td>{{client.piece_identite.date_d_expiration | date:'d MMMM y'}}</td></tr>
                                 </table>
                                                        
							</div>	
							<div class="col-md-4 col-sm-4" *ngIf="client.comptes?.length > 0">
								
                                <h3 class="text-primary bg-light" >Infos Comptes</h3>
                                <tr *ngFor="let compte of client.comptes">
                                    <table class="table table-dark table-hover">
                                        <tr><th>IdCompte</th><td>{{compte.idCompte}}</td></tr>
                                        <tr><th>montant</th><td>{{compte.montant}}</td></tr>
                                        <tr><th>date d'ouverture</th><td>{{compte.date_ouverture | date:'d MMMM y'}}</td></tr>
                                        <tr><th>Type</th><td>{{compte.type}}</td></tr>
                                    </table>
								</tr>					
							</div>
						</div>	
                    </div>
                    <div class="b_plan_body">					
						<div class="row">
							<div class="col-md-4 col-sm-4"></div>

							<div class="col-md-4 col-sm-4" *ngIf="client.wallet">
								<table class="table table-dark table-hover" *ngIf="client.wallet.cartes?.length > 0">
                                    <td class="text-primary bg-light" colspan="2"><h3>Infos Wallet</h3></td>
                                    <tr><th>IdWallet</th><td>{{client.wallet.id}}</td></tr>
                                    <tr>Liste des cartes du wallet</tr>
                                    <tr *ngFor="let carte of client.wallet.cartes">
                                        <table class="table table-dark table-hover">
                                            <tr><th>IdCarte</th><td>{{carte.id}}</td></tr>
                                            <tr><th>montant</th><td>{{carte.montant}}</td></tr>
                                            <tr><th>date_expiration</th><td>{{carte.date_expiration| date:'d MMMM y'}}</td></tr>
                                            
                                        </table>
                                    </tr>	
                                </table>
                                                        
							</div>	
							<div class="col-md-4 col-sm-4"></div>
						</div>	
                    </div>
    </div>
</div>


