<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet">
<div class="container col-md-12">

<h1>Tout les cartes</h1>

<table class="table table-dark table-hover">
    <thead class="">
    <tr class="text-primary bg-light">
        <th> CodePin</th>
        <th> reference</th>
        <th> Date d'emmission</th>
        <th> Delai de validite</th>
        <th> Etat </th>
        <th> Montant operation</th>
        <th> Montant transfert</th>
        <th> Agent</th>
        <th> Emetteur</th>
        <th> Beneficiaire</th>
    </tr>
   </thead>
   <tbody class="thead-light">
    <tr *ngFor="let transfert of transferts">
        <td>{{transfert.codePin}}</td>
        <td>{{transfert.reference}}</td>
        <td>{{transfert.date_demission|date:'d MMMM y'}}</td>
        <td>{{transfert.delai_de_validite|date:'d MMMM y'}}</td>
        <td>{{transfert.etat}}</td>
        <td>{{transfert.montant_operation}}</td>
        <td>{{transfert.montant_transfert}}</td>
        <td>{{transfert.agent.nom}} {{transfert.agent.prenom}}</td>
        <td>{{transfert.emetteur.nom}} {{transfert.emetteur.prenom}}</td>
        <td>{{transfert.beneficiaire.nom}} {{transfert.beneficiaire.prenom}}</td>
        
    </tr>
</tbody>
</table>
</div>